# Environment variables
.env

# Database
db.sqlite3
*.sqlite3

# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Media & Enrolled Face Models
media/

# Virtual environment
env/
venv/
ENV/
.venv

# IDE / System
.vscode/
.idea/
*.swp
.DS_Store
